/* WEB FONT */
@import url('https://use.typekit.net/upf4itu.css');

/* GLOBAL BOX PROPERTY */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'New Order', sans-serif;
  font-weight: 100;
  margin: 0;
}

/* UNIVERSAL STYLES */

h2 {
  font-size: 64px;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
}

/* HEADER */
.header {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
}

.logo-img {
  width: 128px;
  height:128px;
}

/* NAVIGATION */
.nav ul {
  display: flex;
  list-style: none;
  column-gap: 64px;
}

.nav a {
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  text-decoration: none;
  transition: transform 0.3s ease; /* Add transition for transform and font-weight */
}

.nav a:hover {
  transform: scale(1.25); /* Slight increase in size on hover */
}

/* HERO STYLES */

.hero {
  position: relative;
  width: 100%;
  height: 540px; 
  margin: auto;
  text-align: left;
  z-index: 1;
  background-size: cover;
  background-position: center;
}

.hero-content {
  position: absolute;
  padding: 0 10%;
  bottom: 10%;
}

.hero h1, .hero p {
  color: #fff;
}

.hero h1 {
  font-size: 64px;
  font-weight: normal;
  text-transform: uppercase;
}

.hero p {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 20px;
  line-height: 24px;
  width: 512px;
}

/* BUTTON STYLES */

.learn-more-button, .book-now-button, .confirmation-button {
  font-size: 24px;
  width: 256px;
  height: 64px;
  line-height: 64px; 
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  transition: transform 0.3s ease; /* Smooth transition for hover effect */
  display: inline-block; 
  text-align: center; 
}

.learn-more-button:hover, .book-now-button:hover, .confirmation-button:hover {
  transform: scale(1.05); /* Slight increase in size on hover */
}

/* HOME STYLES */

/* Home Page Hero */
.hero-home {
  background-image: url('/css/home-hero.png'); /* Images are not being linked in git hub pages becusae of / in front of image */
}

/* Home Page Content */
.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10%;
  margin-top: 48px;
  margin-bottom: 48px;
}

.card {
  position: relative;
  margin: 20px;
  overflow: hidden;
  transition: transform 0.3s ease; /* Add smooth transition for scaling */
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease; /* Add smooth transition for scaling */
}

.card-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  padding: 10px 0;
}

.card h2 {
  font-size: 64px;
  font-weight: normal;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  margin-left: 10px;
  margin-bottom: 10px;
}

.card:hover {
  transform: scale(1.05); /* Slight increase in size on hover */
}

.card:hover img {
  transform: scale(1.1); /* Slightly scale up the image */
}

/* MENU STYLES */

/* Menu Page Hero */

.hero-menu {
  background-image: url('images/menu-img/menu-hero.png') center;
}

/* Menu Page Content */

.menu-section {
  padding: 16px 10%;
}

.menu-label h2 {
  background-color: #000; 
  color: #fff; 
  padding: 18px;
  margin-bottom: 10px;
  font-size: 48px;
}

.accordion {
  display: flex; /* Use flexbox for aligning text and arrow */
  justify-content: space-between;
  background-color: transparent; /* Ensure background is transparent */
  color: #000;
  cursor: pointer;
  padding: 18px;
  border: 3px solid #000; 
  text-align: left;
  outline: none;
  width: 100%;
  transition: 0.4s;
  font-size: 24px;
}

.accordion.active, .accordion:hover {
  border-color: #ccc; /* Light background on hover/active */
}


.accordion:after {
  content: '';
  display: inline-block;
  width: 32px;
  height: 18px; 
  background-image: url('/images/menu-img/arrow.svg'); /* Images are not being linked in git hub pages becusae of / in front of image */
  background-size: cover;
  float: right;
  transition: transform 0.4s ease;
}

.active:after {
  transform: rotate(180deg);
}


.panel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
  margin-top: 16px;
  margin-bottom: 16px ;
}

.menu-item {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  margin-bottom: 10px;
}

.menu-item h3 {
  font-size: 16px;
  color: #000;
  font-weight: 400;
}

.menu-item-header {
  display: flex;
  justify-content: space-between; 
  align-items: baseline; /* Align the baseline of h3 and price */
  width: 100%; 
  margin-bottom: 8px;
}

.menu-item p {
  font-size: 16px;
  color: #666;
  font-weight: normal;
  margin-bottom: 8px;
}

.menu-item .price {
  font-size: 16px;
  color: #000;
  font-weight: 400;
}
.menu-image {
  position: relative;
  width: 100%;
  margin-left: 325px;
}

.menu-section-image {
  width: 50%;
  justify-content: right;
}

.image-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  width: 100%;
  padding: 10px; 
}

.image-overlay h3 {
  font-size: 1.5em; 
  margin: 5px;
  color: #fff;
  font-weight: 400;
}

.image-overlay p {
  font-size: 1em;
  margin: 5px;
  color:#fff;
  font-weight: 400;
}


/* RESERVE STYLES */

/* Reserve Hero */

.hero-reserve {
  background-image: url('images/reserve-img/reserve-hero.png');
}

/* Reserve Content */

/* Form */

.reserve-form {
  max-width: 1100px; 
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}

.form-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
}

.form-group {
  flex-basis: calc(33.333% - 20px); /* Width for three columns, minus the gap */
  margin-bottom: 20px; 
}

.form-group.button-group {
  flex-basis: 100%; 
  display: flex;
  justify-content: center; 
}

.reserve-form input[type="text"],
.reserve-form input[type="email"],
.reserve-form input[type="time"],
.reserve-form input[type="date"],
.reserve-form input[type="number"] {
  width: 100%; 
  height: 64px;
  padding: 8px;
  font-size: 24px;
  border: 2px solid #ccc;
  text-transform: uppercase;
  box-sizing: border-box;
}

.book-now-button {
  font-size: 24px;
  width: 100%; 
}

/* Confirmation */

.confirmation-text {
  text-align: center;
  padding: 50px 10%;
  background-color: #f5f5f5; 
}

.confirmation-text p {
  margin-bottom: 30px;
}

.confirmation-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.confirmation-button,
.cancel-button {
  width: 50%; 
}

.cancel-button:hover {
  border-color: #000;
  color: #000;
}

.cancel-button {
  color: #888;
  background: transparent;
  border: 2px solid #ccc;
}

/* ABOUT STYLES */

/* Gallery Hero */

.hero-about {
  background-image: url('images/home-hero.png');
}

.about-section {
  background-color: #000; 
  color: #fff; 
  padding: 50px 10%; 
}

.about-subsection {
  display: flex; 
  align-items: center;  
  margin-bottom: 50px; 
}

.about-image {
  width: 50%; 
  height: auto; 
  object-fit: cover; 
  margin-right: 48px; 
}

.text-content {
  width: 50%; 
}

.text-content h2 {
  font-size: 64px; 
  margin-bottom: 20px; 
  font-weight: 400;
}

.text-content p {
  font-size: 16px; 
  line-height: 1.6; 
  margin-bottom: 20px;
  width: 540px;
}

.founder-signature {
  font-weight: 400;
}

/* GALLERY STYLES */

/* Gallery Hero */

.hero-gallery {
  background-image: url('images/gallery-img/gallery-hero.png');
}

/* Gallery Content */

.gallery {
  display: flex;
  justify-content: center;
  background-color: #000;
}

.gallery-column {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}

.gallery-item {
  position: relative;
  margin-bottom: 16px;
  margin-right: 16px; 
}

.gallery-item img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.image-text {
  position: absolute;
  right: 10px;
  bottom: 10px; 
  color: #fff;
  font-size: 16px;
  padding: 4px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}




/* FOOTER */

footer {
  background-color: #000;
  color: #fff;
  padding: 40px 10%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

footer h3 {
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 24px;
}

footer ul {
  list-style: none;
}

footer li {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-section {
  max-width: 33.333%;
}

.social-links {
  display: flex; 
  gap: 2rem; 
}

.social-links a {
  color: #fff;
  text-decoration: none;
}

.social-links img {
  width: 3rem; 
  height: auto; 
}

.contacts ul,
.hours ul {
  padding-left: 0;
}

.hours-block {
  margin-bottom: 10px;
}

.days {
  display: block;
  font-weight: 600; 
  margin-bottom: 5px; 
}

.time {
  display: block; 
  margin-bottom: 2rem; 
}

.footer-section.contacts ul {
  padding-left: 0; 
  list-style: none; 
}

.footer-section.contacts li {
  display: flex;
  align-items: center; 
  font-size: 16px; 
  margin-bottom: 10px; 
}

.contact-icon {
  margin-right: 1rem; 
  width: 3rem; 
  height: auto; 
}
