/* WEB FONT */

@import url('https://use.typekit.net/upf4itu.css');

/* GLOBAL BOX PROPERTY */

html {
 box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'New Order', sans-serif;
}

/* HEADER AND NAV */

.header {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
}

.logo-img {
 width: 128px;
 height:128px;
}

.nav ul {
  display: flex;
  list-style: none;
  column-gap: 64px;
}

.nav a {
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
  font-weight: 600;
}
